<mat-grid-list cols="1" rowHeight="2:1" class="borders" style="display:flex; flex-direction: row;align-items: start;">
  <mat-grid-tile style="margin: 0;">
    <mat-card style="width:50%; align-self: flex-start;margin-top:3em">
      <mat-card-header>
        <mat-card-title style="padding:1em 0">
          About Me!
        </mat-card-title>
        <mat-card-subtitle style="padding-bottom:0.5em">Paul Zapote - Software Developer</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content style="margin: 0;">
        <p>Hi my name is Paul. I am a software developer just starting my career and looking practice my skills in any way possible. Which is part of the reason for this project. A bit of my background first. I graduated in computer science from the University of British Columbia Okanagan in 2021 and now working as a software developer in Calgary.
        I created this project to improve by design and front end skills. 
        In general I like to improve my web development skills by making projects that range from anything. Data, backend, front end stuff...</p>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>