.pointer:hover{
  cursor: pointer;
}

#categories{
  position: relative;
  top:15%;
  left:80%
  
}

.container-row{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5em;
}

.container-col{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5em;
  // margin: 5em auto;
}

.post-card{
  width: 60%
}